<footer>
    <div class="footer-container">
      <div class="footer-section">
        <h3>Pages</h3>
        <ul>
           <li> <a (click)="navigate('nav')">Home</a></li>
           <li><a (click)="navigate('features')">Product</a></li>
           <li><a (click)="navigate('about')">About</a></li>
           <li><a (click)="navigate('pricing')">Pricing</a></li>
           <li><a (click)="navigate('contact')">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Tomothy</h3>
        <ul>
          <li>Eleanor Edwards</li>
          <li>Ted Robertson</li>
          <li>Annette Russell</li>
          <li>Jennie McKinney</li>
          <li>Gloria Richards</li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Jane Black</h3>
        <ul>
          <li>Philip Jones</li>
          <li>Product</li>
          <li>Colleen Russell</li>
          <li>Marvin Hawkins</li>
          <li>Bruce Simmons</li>
        </ul>
      </div>
      <div class="footer-section">
        <address class="address" style="margin-top: 30px;">
         <div style="margin-bottom: 10px;">   <i class="fa fa-map-marker"></i> &nbsp;&nbsp;   
            <span class="icon-text">7480 Mockingbird Hill Undefined</span></div> <br>
            <i class="fa fa-phone"></i>&nbsp;   &nbsp;   
            <a href="tel:+1239551508">(239) 551-508</a>
        </address>
        <div class="social-icons" style="margin-top: 10px;">
            <a href="#" class="social-link"><i class="fab fa-twitter"></i></a> &nbsp;&nbsp;
            <a href="#" class="social-link"> <i class="fab fa-facebook"></i> </a>&nbsp;&nbsp;
            <a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a>&nbsp;&nbsp;
        
        </div>
      </div>
    </div>
  </footer>
  