
<div class="contact-container">
    <div class="contact-header">
        <h2>Contact Us</h2>
        <p class="contact-description">Lorem ipsum dolor sit amet consectetur. Vitae <br> donec varius placerat sed auctor enim feugiat.</p>
    </div>
        
    <div class="contact-content">
        <div class="contact-form card">
            <form>
                <div>
                    <h1 style="color: black
                    ;">Contact Us</h1>
                </div>
                <div class="form-group">
                    <input type="text" id="name" name="name" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Your Email">
                </div>
                <div class="form-group">
                    <textarea id="message" name="message" rows="4" placeholder="Your Message"></textarea>
                </div>
                <button type="submit" style="width: 20%; border-radius: 50px 50px 50px 50px; text-align: center;">Send</button>
            </form>
        </div>
        <div class="contact-info">
            <div class="info">
            <p><i class="fas fa-map-marker-alt"></i>  <br> 6368 Spring St undefined Anchorage, <br> Georgia 12473 United States</p>
            <p><i class="fas fa-phone"></i>  <br>(843) 555-0130</p>
            <p><i class="fas fa-envelope"></i> <br>wilie.jennings@example.com</p></div>
            <div class="contact-socials">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3192.594064923225!2d10.168388411635851!3d36.852196872116544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd35eb97d9fb3f%3A0xf904baf5171ff7f3!2sXtendPlex%20Tunisie!5e0!3m2!1sfr!2stn!4v1709674703047!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div style="display: flex; justify-content: flex-start;">
                <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-link"> <i class="fab fa-facebook"></i> </a>
                <a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a></div>
            </div>
        </div>
    </div>
</div>  

