<div style="background-color: #252B42;">
<div class="pricing-section">
    <div class="pricing-header">
      <h1 style="color: white;">Pricing</h1>
      <p style="color: white;">Lorem ipsum dolor sit amet consectetur. Vitae donec varius placerat sed auctor enim feugiat.</p>
    </div>
    <div class="pricing-cards">
      <div class="card free">
        <h2>FREE</h2>
        <p class="price">$0<span> / month</span></p>
        <ul class="features">
          <li>Feature 1</li>
          <li>Feature 2</li>
          <li>Feature 3</li>
          <li>Feature 4</li>
          <li>Feature 5</li>
        </ul>
        <button>Order Now</button>
      </div>
      <div class="card standard" style="background-color: #2091F9;">
        <h2 style="color: white;">STANDARD</h2>
        <p class="price" style="color: white;">$10<span> / month</span></p>
        <ul class="features">
          <li style="color: white;">Feature 1</li>
          <li style="color: white;">Feature 2</li>
          <li style="color: white;">Feature 3</li>
          <li style="color: white;"> Feature 4</li>
          <li style="color: white;">Feature 5</li>
        </ul>
        <button>Order Now</button>
      </div>
      <div class="card business">
        <h2>BUSINESS</h2>
        <p class="price">$99<span> / month</span></p>
        <ul class="features">
          <li>Feature 1</li>
          <li>Feature 2</li>
          <li>Feature 3</li>
          <li>Feature 4</li>
          <li>Feature 5</li>
        </ul>
        <button>Order Now</button>
      </div>
    </div>
  </div>
</div>
  